In [1]:
import pandas as pd
import numpy as np

In [18]:
from itertools import product, combinations

In [20]:
a = [1, 2, 3, 4]
for item in combinations(a, 2):
    print(item)

(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)

In [21]:
str(('a', 'b'))

"('a', 'b')"

In [1]:
str_1 = 'mk_file_id;mk_cust_id:string,ind_id:bigint,noquery_ind_child_type_id:int,ind_child_collapse_mask:int,match_type_id:bigint,match_initial_date:int,match_update_date:int,child_last_conversion_date:int,child_last_impression_date:int,child_last_registration_date:int,child_last_bid_date:int,child_first_conversion_date:int,child_first_impression_date:int,child_first_registration_date:int,child_first_bid_date:int,create_ts:double,ind_child_id:string,ind_child_type_id:int'
str_2 = 'ind_id:bigint,ind_child_id:string,noquery_ind_child_type_id:int,ind_child_collapse_mask:int,match_type_id:bigint,match_initial_date:int,match_update_date:int,child_last_conversion_date:int,child_last_impression_date:int,child_last_registration_date:int,child_last_bid_date:int,child_first_conversion_date:int,child_first_impression_date:int,child_first_registration_date:int,child_first_bid_date:int,create_ts:double,ind_child_type_id:int'a

In [6]:
list_1 = str_1.split(',')
list_2 = str_2.split(',')

dicts = [{}, {}]
for i, collect in enumerate([list_1, list_2]):
    cur_dict = dicts[i]
    for item in collect:
        item = item.split(":")
        cur_dict[item[0]] = item[1]

In [15]:
set(dicts[0].keys()) - set(dicts[1].keys())
# set(dicts[0].keys()) - set(dicts[0].keys())
# assert len(set(dicts[0].keys())) == len(set(dicts[1].keys()))

{'mk_file_id;mk_cust_id'}

In [16]:
set(dicts[1].keys()) - set(dicts[0].keys())

set()

In [17]:
print(len(dicts[0]))
print(len(dicts[1]))

18
17

In [38]:
df.sort_values('date').groupby(['store'])['cnts'].shift(1)

19     NaN
2      NaN
5      2.0
8      5.0
17    19.0
15     NaN
14    17.0
13     8.0
12    13.0
11    15.0
9     11.0
18    14.0
1     18.0
7      1.0
6      7.0
4      9.0
3      4.0
16     3.0
10     6.0
0     16.0
Name: cnts, dtype: float64

In [27]:
for i, j in df.sort_values('date').groupby(['store'])['cnts']:
    print(i)
    print(j)

10
2      2
11    11
5      5
1      1
8      8
19    19
18    18
12    12
3      3
Name: cnts, dtype: int64
11
9      9
17    17
10    10
7      7
14    14
Name: cnts, dtype: int64
12
4      4
16    16
15    15
0      0
6      6
13    13
Name: cnts, dtype: int64

In [29]:
df['cnts_lag_1'] = df.sort_values('date').groupby(['store'])['cnts'].shift(1)
df.head(20)

    date  store  cnts  cnts_lag_1
0      1     12     0        15.0
1      1     10     1         5.0
2      0     10     2         NaN
3      2     10     3        12.0
4      0     12     4         NaN
5      1     10     5        11.0
6      2     12     6         0.0
7      2     11     7        10.0
8      1     10     8         1.0
9      0     11     9         NaN
10     1     11    10        17.0
11     1     10    11         2.0
12     2     10    12        18.0
13     2     12    13         6.0
14     2     11    14         7.0
15     1     12    15        16.0
16     1     12    16         4.0
17     0     11    17         9.0
18     2     10    18        19.0
19     1     10    19         8.0

In [33]:
from itertools import product
data = [1,2,3]
store = [11, 12, 13]
df = pd.DataFrame(list(product(*[data, store])), columns=['data', 'store'])
df['cnt'] = np.array(range(9))
df.head(20)

   data  store  cnt
0     1     11    0
1     1     12    1
2     1     13    2
3     2     11    3
4     2     12    4
5     2     13    5
6     3     11    6
7     3     12    7
8     3     13    8

In [34]:
df.sort_values('data').groupby('store')['cnt'].shift(1)

0    NaN
1    NaN
2    NaN
3    0.0
4    1.0
5    2.0
6    3.0
7    4.0
8    5.0
Name: cnt, dtype: float64

In [36]:
for i, j in df.sort_values('data').groupby('store')['cnt']:
    print(i)
    print(j)
    print(j.shift(1))

11
0    0
3    3
6    6
Name: cnt, dtype: int64
0    NaN
3    0.0
6    3.0
Name: cnt, dtype: float64
12
1    1
4    4
7    7
Name: cnt, dtype: int64
1    NaN
4    1.0
7    4.0
Name: cnt, dtype: float64
13
2    2
5    5
8    8
Name: cnt, dtype: int64
2    NaN
5    2.0
8    5.0
Name: cnt, dtype: float64